body {
	margin: 0;
	padding: 0;
}

svg {
	margin: 0 auto;
	display: block;
}

.tick line {
	stroke: #ccc;
	stroke-dasharray: 10, 5;
}

.svgContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.container {
	margin: 20px;
}

.barData {
	margin: 20px;
}

.fiveStarBox,
.highGRBox,
.bookList {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}

.book {
	padding: 10px;
	border: 1px;
	border-color: rgb(202, 199, 197);
	border-style: dashed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hidden {
	display: none;
}

.title {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
}

.author {
}

h3 {
	width: 100%;
	text-align: center;
}

#buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#mainLabel {
	font-size: 20px;
}

#dataSelection {
	font-size: 16px;
	padding: 5px 10px;
}

header {
	background-color: rgb(5, 22, 48);
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 10px;
}
