svg {
	margin: 0 auto;
	display: block;
}

.tick line {
	stroke: #ccc;
	stroke-dasharray: 10, 5;
}

.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	background-color: mintcream;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;
}

.tooltip p {
	margin: 0;
}

.svgContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.container {
	margin: 20px;
}

.barData {
	margin: 20px;
}

.fiveStarBox,
.highGRBox,
.yearBox {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 5px;
}

.book {
	padding: 10px;
	border: 3px solid black;
}
.hidden {
	display: none;
}
