body {
	margin: 0;
	padding: 0;
}

h3 {
	text-align: center;
	width: 100%;	
}

header {
	background-color: rgb(5, 22, 48);
	color: white;
	font-size: 24px;
	padding: 10px;
	text-align: center;	
}

svg {
	display: block;
	margin: 0 auto;	
}

.barData,
.container {
	margin: 20px;
}

.bookList,
.highGRBox,
.ranked {
	display: grid;	
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book {
	align-items: center;
	border: 1px;
	border-color: rgb(202, 199, 197);
	border-style: dashed;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	padding: 10px;
}

.pagesBox p,
.rankBox p {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.ranked {
	margin-bottom: 60px;
}

.svgContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.tick line {
	stroke: #ccc;
	stroke-dasharray: 10, 5;
}

.title {	
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

#buttons {	
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#dataSelection {
	font-size: 16px;
	padding: 5px 10px;
}

#mainLabel {
	font-size: 20px;
}
